html,
body {
  height: 100vh;
}

body {
  color: $default;
  font-size: 14px;
  line-height: 24px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.big-container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 15px;
  line-height: 25px;
  color: $default;
  @extend %rubik-400;
}